$font-stack: Menlo, Monaco, Consolas, "Courier New", monospace;
h4 {
  padding-bottom: 90px;
  color: green;
  text-align:center;
}
a {
  font-family: $font-stack;
  font-size: 20px;
  padding-right: 10px;
  text-decoration: none;
  padding-left: 40px;
}
.footer {
   text-align: center;
}
