$font-stack: Menlo, Monaco, Consolas, "Courier New", monospace;
.center {
  text-align: center;
}
header {
  font-family: $font-stack;
}
.top_down {
  display: inline;
}
.lower_number{
  border-bottom: thin solid #000000;
}
span {
  font-size: 30px;

}
.prob{
  padding-left: 90px;
}
.prob_list {
  padding-left: 20px;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('timer.gif') 50% 50% no-repeat rgb(249,249,249);
}
