<!DOCTYPE html>
<html>
  <head>
    <title>Mad Mintue X</title>

    <link rel="stylesheet" href = "static/main.css">

  </head>
  <body>
    <div class = "center header">
      <h1>Mad Mintue X</h1>
    </div>
    <p class = "center">Remeber that <i><a href = "static/img.jpg">Mad Mintues</a></i> you had to in
       elementary school? 60 problems in 60 seconds GO!</p>
       <button>
         Addtition
       </button>
       <button>
         Subtraction
       </button>
       <button>
         Mulitplication
       </button>
       <button>
         Division
       </button>

  </body>
</html>
