<!DOCTYPE html>
<html >
  <head>
    <link rel = "stylesheet" href = "../static/Skeleton-2.0.4/css/skeleton.css">
    <link rel = "stylesheet" href = "../static/Skeleton-2.0.4/css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{section}} - {{level}}</title>
    <link rel="stylesheet" href = "{{url_for('static', filename='test.css')}}">
  </head>
  <body>
    <!-- <div class = "loader"></div> -->
    {% set count = [0] %}
    <header class = "row">
      <h1 class = "center"> Sixty {{section}} facts | The Mad Mintue</h1>
      <hr>
    </header>
    {%set sign = ''%}
    {%if section == "mulitplication"%}
      {%set sign = 'x'%}
    {%elif section == "add"%}
      {%set sign = '+'%}
    {%elif section == "subtract"%}
      {%set sign = '-'%}
    {%else%}
      {%set sign = '/'%}
    {%endif%}
    <div class="container">
      {% set num = 0 %}
      {%for i in range(10)%}
        <div class = "row prob_list">
          {% for x in range(6) %}
            <div class = "one column prob">
              {% set num = count[-1] %}
              {% if count.append(count.pop() + 1) %}

              {% endif %}
              <span>&nbsp;&nbsp;{{problems[num][0]}}</span><br>
              <span class = "lower_number">{{sign}}{{problems[num][1]}}</span>
              <input type="text"  id = "problem{{num}}" size = "5" autofocus>
            </div>
          {% endfor %}
        </div>
        {%endfor%}
      </div>
  <form method="post" action="/results" id ="form" display="hidden">
    <input type = "hidden" name = "score" id = "score">
  </form>



  <!-- <script src = "{{ url_for('static', filename='test.js') }}"></script> -->
  <script>
    var current_value = 0, answers = new Array(), done = false;
    var correct = 0, count = 0;
    var time = setTimeout(leave, 60000);
    $(document).keypress(function(e) {
      if(e.which == 13) {
        answers[current_value] = $("#problem" + current_value).val();
        console.log(answers[current_value]);
        current_value++;
        if(current_value == 60) {
          clearTimeout(time);
          {% for pro in problems %}
            if(answers[count] == {{pro[2]}}) {
              correct++;
            }
            count++;
          {% endfor %}
          $("#score").val(correct);
          $("#form").submit();
          // console.log("right number " + count);

        }
        $("#problem" + current_value).focus();
      }
    });
    function leave() {
      $("#score").val(-1);
      $("#form").submit();
    }
  </script>
  </body>


</html>
